@model IEnumerable<ROS.Models.Feedback>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.communication)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interiors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.syllabus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.extraactivities)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.communication)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interiors)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.syllabus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.extraactivities)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
